.slideshow-carousel {
  width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
  width: 100%;
  height: 100%;
}

.headline-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -22px;
  padding: 8px;
  color: white;
  background: none;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  z-index: 1;
}

/* Position the "next button" to the right */
#prev-btn {
  left: 0;
  border: none;
}

#next-btn {
  right: 0;
  border: none;
}

/* On hover, add a black background color with a little bit see-through */
.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 24px;
  padding: 6px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

/* The dots/bullets/indicators */
.dots-container {
  display: flex;
  margin: 10px 0;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Tablet (Medium Screens) */
@media (max-width: 1024px) {
  .slideshow-carousel {
    width: 700px;
    height: 450px;
  }
  .text {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .slideshow-carousel {
    width: 550px;
    height: 400px;
  }
  .text {
    font-size: 22px;
    bottom: 10px;
  }
}

@media (max-width: 575px) {
  .slideshow-carousel {
    width: 400px;
    height: 300px;
  }
  .carousel-btn {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
  .text {
    font-size: 20px;
    bottom: 10px;
  }
}

/* Mobile (Small Screens) */
@media (max-width: 440px) {
  .slideshow-carousel {
    width: 325px;
    height: 250px;
  }
  .text {
    font-size: 18px;
    bottom: 10px;
  }
}

@media (max-width: 350px) {
  .slideshow-carousel {
    width: 250px;
    height: 175px;
  }
  .carousel-btn {
    width: 30px;
    height: 30px;
    font-size: 16px;
    margin-top: -14px;
  }
  .text {
    font-size: 16px;
    bottom: 10px;
  }
}
