/*Sidebar Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.details-header {
  text-align: center;
}

.trade-details {
  width: 50%;
}

.team-assets {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 0;
}

.team-name {
  width: 55%;
  border-right: 1px solid #d9e2f7;
  padding: 15px 0;
}

.traded-players-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.draft-picks-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.draft-pick {
  width: 100%;
  padding: 10px 20px;
}
.transactions-header {
  background-color: #071023;
  font-weight: bold;
}

.tran-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.player-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

.added-div {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.dropped-div {
  display: flex;
  align-items: center;
  margin-left: 15%;
  gap: 15px;
  width: 100%;
}

.player-text {
  color: white;
  width: 70%;
}

.waiver-bid {
  color: white;
  width: 10%;
}

.tran-type {
  width: 7.5%;
}

.tran-week {
  width: 7.5%;
  text-align: center;
}

.tran-user {
  width: 10%;
}

.tran-added {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tran-dropped {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.transactions-text {
  color: white;
  width: 20%;
}

.load-more {
  align-self: center;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-family: "Baskervville SC", serif;
  font-size: 14px;
  background-color: #5c7cfa;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  letter-spacing: 1px;
  width: 25%;
  margin-top: 25px;
  margin-bottom: 50px;
}

.load-more:hover {
  background-color: #4a68d8; /* Darker shade on hover */
  transform: translateY(-3px);
}

.trades-container {
  background-color: #071023;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-spacing: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 75%;
  font-family: "Baskervville SC", serif;
}

.trade-users {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.trading-team {
  font-size: 16px;
  border-bottom: 1px solid white;
  padding-bottom: 2.5px;
  margin-bottom: 2.5px;
}
.team-sends {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traded-player {
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: 10%;
  gap: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
