/*Sidebar Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* League Splash Pages*/
.tran-table {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-spacing: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 75%;
  font-family: "Baskervville SC", serif;
}

.transactions-row {
  color: #d9e2f7;
  display: flex;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  background-color: #071023;
  padding: 12px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.transactions-header {
  background-color: #071023;
  font-weight: bold;
}

.tran-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.player-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.added-div {
  display: flex;
  align-items: center;
  margin-left: 0;
  gap: 15px;
  width: 100%;
}

.dropped-div {
  display: flex;
  align-items: center;
  margin-left: 15%;
  gap: 15px;
  width: 100%;
}

.player-text {
  color: white;
  width: 70%;
}

.waiver-bid {
  color: white;
  width: 10%;
}

.picks-involved {
  width: 12.5%;
}

.tran-type {
  width: 7.5%;
}

.tran-week {
  width: 7.5%;
  text-align: center;
}

.tran-user {
  width: 10%;
}

.tran-added {
  width: 30%;
  display: flex;
  align-items: center;
}

.tran-dropped {
  width: 30%;
}

.transactions-text {
  color: white;
  width: 20%;
}

.transactions-button {
  align-self: center;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-family: "Baskervville SC", serif;
  font-size: 14px;
  background-color: #5c7cfa;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  letter-spacing: 1px;
  width: 25%;
}

.transactions-button:hover {
  background-color: #4a68d8; /* Darker shade on hover */
  transform: translateY(-3px);
}

.league-matchups {
  margin-left: 150px;
  background-color: grey;
}

.owner-info {
  background-color: grey;
  margin-left: 100px;
}
