/*Homepage Styling*/
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  transition: all 0.5s ease;
  width: 100%;
}

.homepage-titles {
  margin: 25px auto;
  text-align: center;
  font-size: 40px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
  color: #071023;
  border-bottom: 2px solid #222;
  width: 60%;
}

.homepage-main-content {
  padding-bottom: 25px;
}
/* Tablet (Medium Screens) */
@media (max-width: 1024px) {
  .homepage-titles {
    font-size: 36px;
  }
}

/* Mobile (Small Screens) */
@media (max-width: 768px) {
  .homepage-titles {
    font-size: 32px;
    width: 75%;
  }
}
