/*Homepage Styling*/
.homepage {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  align-items: center;
  background-color: whitesmoke;
  min-height: 100vh;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
}

.sidebar.active ~ .homepage {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.homepage-titles {
  margin: 25px auto;
  text-align: center;
  font-size: 40px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
  color: #071023;
  border-bottom: 2px solid #222;
  width: 60%;
}
