/*Homepage Styling*/
.homepage {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  align-items: center;
  background-color: whitesmoke;
}

.main-content h1 {
  font-family: "Baskervville SC", serif;
  font-weight: 500;
  color: #d9e2f7;
  letter-spacing: 7.5px;
  font-size: 70px;
  text-align: center;
  border-bottom: 5px solid red;
  width: 80%;
  padding: 0px;
}

.homepage-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(https://www.liberty.edu/news/wp-content/uploads/sites/137/2023/01/20221022_7452TP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 75px;
}

#homepage-title {
  font-family: "Baskervville SC", serif;
  font-weight: 500;
  font-style: normal;
  color: #d9e2f7;
  letter-spacing: 7.5px;
  font-size: 70px;
  text-align: center;
  padding-top: 175px;
  width: 60%;
  border-bottom: 5px solid red;
}

#verse-of-day {
  width: 60%;
  color: #d9e2f7;
  margin-top: 75px;
  text-align: center;
  font-size: 28px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
}

#verse-reference {
  width: 60%;
  color: #d9e2f7;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
}

.homepage-main-content {
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-titles {
  margin: 25px auto;
  text-align: center;
  font-size: 40px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
  color: #071023;
  border-bottom: 2px solid #222;
  width: 60%;
}

.slideshow-carousel {
  width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
  width: 100%;
  height: 100%;
}

.headline-img {
  width: 100%;
  height: 100%;
}

.carousel-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -22px;
  padding: 8px;
  color: white;
  background: none;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  z-index: 1;
}

/* Position the "next button" to the right */
#prev-btn {
  left: 0;
  border: none;
}

#next-btn {
  right: 0;
  border: none;
}

/* On hover, add a black background color with a little bit see-through */
.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 26px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dots-container {
  display: flex;
  margin: 10px 0;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
