.directory-pages {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  transition: all 0.5s ease;
  padding-bottom: 50px;
}

.directory-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background: linear-gradient(135deg, #222, #3a3a3a);
  height: 200px;
  width: 100%;
}

.directory-h1 {
  font-size: 54px;
  font-family: "Baskervville SC", serif;
  letter-spacing: 1px;
  color: #d9e2f7;
  border-bottom: 5px solid red;
  text-align: center;
}

/* Tablet (Medium Screens) */
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .directory-h1 {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .directory-h1 {
    font-size: 44px;
  }
}

/* Mobile (Small Screens) */
@media (max-width: 440px) {
  .directory-h1 {
    font-size: 36px;
  }
}
