#standings-rankings-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../assets/images/standings-background-img.png);
}

#standings-rankings-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/images/standings-background-img.png);
}

#schedules-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../assets/images/schedules-pic.jpg);
}

#schedules-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/images/schedules-pic.jpg);
}

#transactions-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../assets/images/transactions.jpg);
  background-size: cover; /* Ensures the image covers the entire card */
  background-position: center; /* Centers the image horizontally and vertically */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

#transactions-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/images/transactions.jpg);
}
