.directory-pages {
  display: flex;
  margin-left: 80px;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
}

.sidebar.active ~ .directory-pages {
  margin-left: 250px;
  width: calc(100% - 250px);
}
