#standings-rankings-card {
  background-image: url(../src/assets/images/standings-background-img.png);
}

#standings-rankings-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/Images/standings-background-img.png);
}

.standings-rankings-titles {
  display: flex;
  width: 90%;
  margin-left: 5%;
  text-decoration: underline;
  padding-top: 15px;
}

#standings-title {
  width: 30%;
  text-align: center;
  margin-left: 8.75%;
}

#pr-title {
  width: 30%;
  text-align: center;
  margin-left: 22.5%;
}

.rankings-standings-container {
  display: flex;
  width: 90%;
  margin-left: 5%;
  height: 70vh;
}

.standings-container {
  width: 47.5%;
  background-color: #071023;
  margin-top: 7.5px;
  margin-left: 100px;
  border-radius: 10px;
  border: none;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.standings-row {
  height: 60px;
  border: 1px solid #d9e2f7;
  background-color: #071023;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.standings-row:hover {
  background-color: lightblue;
  cursor: pointer;
}

#power-rankings-container {
  width: 47.5%;
  margin-top: 7.5px;
  margin-left: 5%;
}
