/*Members Page*/
.members-main-content {
  background-color: whitesmoke;
  min-height: 100vh;
  top: 0;
  margin-left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

.members-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background: linear-gradient(135deg, #222, #3a3a3a);
  height: 200px;
}

.members-h1 {
  font-size: 54px;
  font-family: "Baskervville SC", serif;
  letter-spacing: 1px;
  color: #d9e2f7;
  border-bottom: 5px solid red;
}

.league-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  gap: 30px;
  padding: 0 20px;
  margin-top: 50px;
}

.sidebar.active ~ .members-main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
}
