/*Members Page*/
.members-leading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background: linear-gradient(135deg, #222, #3a3a3a);
  height: 250px;
}

.members-h2 {
  font-size: 36px;
  font-family: "Baskervville SC", serif;
  letter-spacing: 1px;
  color: white;
}

.league-members-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-bottom: 50px;
  gap: 30px;
  padding: 0 20px;
  margin-top: 50px;
}

.member-card {
  width: 100%;
  max-width: 400px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #071023;
  padding: 20px;
  font-family: "Baskervville SC", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff;
}

.member-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #f0f0f0;
}

.member-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s;
}

.member-img:hover {
  transform: scale(1.03);
}

.card-title {
  font-size: 22px;
  padding-bottom: 5px;
  font-weight: 500;
}

.button-members {
  padding: 2px 10px;
  margin-bottom: 10px;
  border: 1px solid #071023;
  width: 75px;
  height: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #1e90ff;
  color: #071023;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 2px;
}

.button-members:hover {
  filter: brightness(110%);
}

.sidebar.active ~ .members-page {
  left: 250px;
  width: calc(100% - 250px);
}

.main-content {
  position: relative;
  background-color: whitesmoke;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.member-modal {
  z-index: 1000;
  display: flex;
  top: 2.5%;
  left: auto;
  overflow: auto;
  position: fixed;
  width: 60%;
  max-width: 800px;
  height: auto;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  padding: 40px 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 20px;
  max-height: 80vh;
  color: #d9e2f7;
  border: 2.5px solid #d9e2f7;
  border-radius: 12px;
}

.modal-content-header {
  font-size: 26px;
  margin-bottom: 20px;
  font-family: "Baskervville SC", serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.modal-content-text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: center;
  padding: 0 15px;
  font-family: "Baskervville SC", serif;
}

.modal-close-button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-family: "Baskervville SC", serif;
  font-size: 14px;
  background-color: #5c7cfa;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  letter-spacing: 1px;
}

.modal-close-button:hover {
  background-color: #4a68d8; /* Darker shade on hover */
  transform: translateY(-3px);
}
