.resources-page {
  border: 1px solid black;
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: 2px solid orange;
}

.iframe {
  border: 3px solid black;
  border-radius: 12px;
}

.dynasty-rankings {
  margin-left: 80px;
}

.trade-calc {
  margin-left: 80px;
}
