body {
  background-color: whitesmoke;
}

.league-activity {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transactions-header-div {
  background: linear-gradient(135deg, #222, #3a3a3a);
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 100%;
}

.transactions-h1 {
  font-size: 54px;
  font-family: "Baskervville SC", serif;
  letter-spacing: 1px;
  color: #d9e2f7;
  border-bottom: 5px solid red;
  width: fit-content;
  padding: 0px 15px;
  margin: 25px;
  align-self: center;
}

.view-toggle {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 25px;
}

.view-toggle button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-family: "Baskervville SC", serif;
  font-size: 14px;
  background-color: #5c7cfa;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  letter-spacing: 1px;
}

.view-toggle button:hover {
  filter: brightness(125%);
}

.transactions-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-spacing: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 65%;
  font-family: "Baskervville SC", serif;
}

.transaction-row {
  color: #d9e2f7;
  display: flex;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  background-color: #071023;
  padding: 12px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.transaction-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.transaction-user {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px 0;
  text-align: center;
}
.waiver-details {
  width: 35%;
}

.added-players-container,
.dropped-players-container {
  display: flex;
  align-items: center;
  gap: 25%;
}

.transaction-icon {
  width: 15px;
  margin-right: 15px;
}

.plus-icon,
.minus-icon {
  font-size: 20px;
}
.added-player,
.dropped-player {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
}

.player {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
}
