.drafts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  background-color: #f0f2f5;
  transition: all 0.5s ease;
}

.draft-season-section {
  width: 100%;
  padding: 20px;
}

.draft-li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 2px solid red;
  padding-bottom: 25px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.draft-li:hover {
  transform: translateY(-5px);
}

.drafts-season {
  font-size: 28px;
  font-family: "Baskervville SC", serif;
  color: #071023;
}

.display-draft-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-family: "Baskervville SC", serif;
  font-size: 14px;
  background-color: #5c7cfa;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  letter-spacing: 1px;
}

.display-draft-btn:hover {
  filter: brightness(110%);
}

.draft-results-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5px;
  animation: fadeIn 0.5s ease-in-out;
}

.pick-selection {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 150px;
  padding: 10px 5px;
  background-color: #071023;
  color: #d9e2f7;
  font-family: "Baskervville SC", serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pick-details {
  font-size: 14px;
  color: #d9e2f7;
}

.player-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d9e2f7;
  object-fit: cover;
}

.drafted-player-name {
  font-size: 14px;
  border-bottom: 1px solid red;
  padding-bottom: 5px;
  color: #d9e2f7;
}

.team-drafting {
  font-size: 12px;
  color: #d9e2f7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablet (Medium Screens) */
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .drafts-h1 {
    font-size: 48px;
  }
}

@media (max-width: 575px) {
  .drafts-h1 {
    font-size: 44px;
  }
}

/* Mobile (Small Screens) */
@media (max-width: 440px) {
  .drafts-h1 {
    font-size: 36px;
  }
}
