.league-img img {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  transition: 0.5s ease;
  min-height: 60px;
  border-radius: 50%;
}

.sidebar.active .league-img img {
  margin-left: 80px;
  transition: 0.5s ease;
  min-height: 60px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: #071023;
  transition: all 0.5s ease;
  z-index: 1;
}

.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active {
  width: 250px;
  background-color: #071023;
}

.sidebar #btn {
  position: absolute;
  color: #d9e2f7;
  cursor: pointer;
  top: 0.2rem;
  left: 50%;
  font-size: 1.4rem;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar #btn:hover {
  filter: brightness(175%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color: #d9e2f7;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
  transition: 0.5s ease;
  margin-left: 15px;
}

.sidebar.active .top .logo {
  opacity: 1;
  font-size: larger;
  margin-left: 1 rem;
  font-family: "Baskervville SC", serif;
  transition: 0.5s ease;
  font-weight: 400;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  margin-top: 20px;
  width: 90%;
  line-height: normal;
}

.sidebar ul li a {
  color: #d9e2f7;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Baskervville SC", serif;
}

.sidebar ul li a:hover {
  filter: brightness(175%);
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
  color: #d9e2f7;
  font-size: 25px;
  margin-left: 12.5px;
}

.nav-item {
  white-space: nowrap;
  opacity: 0;
  transition: 0.5s ease;
}

.sidebar.active .nav-item {
  opacity: 1;
  transition: 0.5s ease;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 85px;
  top: 10px;
  padding: 0px 5px;
  opacity: 0;
  line-height: normal;
  font-size: 20px;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
  padding: 0px 5px;
  border-bottom: 2px solid red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-family: "Baskervville SC", serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px 3px;
  border-radius: 5px;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.li-dropdown {
  display: flex;
  align-items: center;
  position: relative;
}
.dropdown {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  flex-direction: column;
  min-width: 50px;
  text-align: left;
  color: #d9e2f7;
  background-color: #071023;
  margin-left: 30px;
  list-style: none;
  white-space: nowrap;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}

.sidebar.active .dropdown.active {
  background-color: #071023;
  max-height: 200px;
  opacity: 1;
}

.sidebar-dropdown-item {
  margin: auto;
}

.rotate {
  transform: rotate(90deg);
}

.sidebar ul li .dropdown-arrow {
  opacity: 0;
  font-size: 25px;
  color: #d9e2f7;
  cursor: pointer;
  transition: transform 0.5s ease;
  rotate: 270deg;
}

.sidebar.active ul li .dropdown-arrow {
  opacity: 1;
  transition: 0.5s ease;
}
