.podcasts-container {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 35px;
}

.podcasts-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background: linear-gradient(135deg, #222, #3a3a3a);
  height: 200px;
  width: 100%;
}

.podcasts-h1 {
  font-size: 54px;
  font-family: "Baskervville SC", serif;
  letter-spacing: 1px;
  color: #d9e2f7;
  border-bottom: 5px solid red;
}

.podcasts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 25px;
  margin-top: 35px;
  justify-content: center;
}

.podcast-li {
  border-radius: 10px;
  width: 350px;
  list-style: none;
  padding: 14px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  background-color: white;
}

.podcast-li:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.podcast-img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.podcast-link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Baskervville SC", serif;
}
