/*Sidebar Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.league-img img {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  transition: 0.5s ease;
  min-height: 60px;
}

.sidebar.active .league-img img {
  margin-left: 80px;
  transition: 0.5s ease;
  min-height: 60px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: #071023;
  transition: all 0.5s ease;
  z-index: 1;
}

.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active {
  width: 250px;
  background-color: #071023;
}

.sidebar #btn {
  position: absolute;
  color: #d9e2f7;
  cursor: pointer;
  top: 0.2rem;
  left: 50%;
  font-size: 1.4rem;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar #btn:hover {
  filter: brightness(175%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color: #d9e2f7;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
  transition: 0.5s ease;
  margin-left: 15px;
}

.sidebar.active .top .logo {
  opacity: 1;
  font-size: larger;
  margin-left: 1 rem;
  font-family: "Baskervville SC", serif;
  transition: 0.5s ease;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  margin-top: 20px;
  width: 90%;
  line-height: normal;
}

.sidebar ul li a {
  color: #d9e2f7;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Baskervville SC", serif;
}

.sidebar ul li a:hover {
  filter: brightness(175%);
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
  color: #d9e2f7;
  font-size: 25px;
  margin-left: 12.5px;
}

.nav-item {
  white-space: nowrap;
  opacity: 0;
  transition: 0.5s ease;
}

.sidebar.active .nav-item {
  opacity: 1;
  transition: 0.5s ease;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 85px;
  top: 10px;
  padding: 0px 5px;
  opacity: 0;
  line-height: normal;
  font-size: 20px;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
  padding: 0px 5px;
  border-bottom: 2px solid red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-family: "Baskervville SC", serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px 3px;
  border-radius: 5px;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.li-dropdown {
  display: flex;
  align-items: center;
  position: relative;
}
.dropdown {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  flex-direction: column;
  min-width: 50px;
  text-align: left;
  color: #d9e2f7;
  background-color: #071023;
  margin-left: 30px;
  list-style: none;
  white-space: nowrap;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}

.sidebar.active .dropdown.active {
  background-color: #071023;
  max-height: 200px;
  opacity: 1;
}

.sidebar-dropdown-item {
  margin: auto;
}

.rotate {
  transform: rotate(90deg);
}

.sidebar ul li .dropdown-arrow {
  opacity: 0;
  font-size: 25px;
  color: #d9e2f7;
  cursor: pointer;
  transition: transform 0.5s ease;
  rotate: 270deg;
}

.sidebar.active ul li .dropdown-arrow {
  opacity: 1;
  transition: 0.5s ease;
}

/*Homepage Styling*/
.homepage {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  align-items: center;
}

.main-content h1 {
  font-family: "Baskervville SC", serif;
  font-weight: 500;
  color: #d9e2f7;
  letter-spacing: 7.5px;
  font-size: 70px;
  text-align: center;
  border-bottom: 5px solid red;
  width: 80%;
  padding: 0px;
}

.homepage-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(https://www.liberty.edu/news/wp-content/uploads/sites/137/2023/01/20221022_7452TP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 75px;
}

#homepage-title {
  font-family: "Baskervville SC", serif;
  font-weight: 500;
  font-style: normal;
  color: #d9e2f7;
  letter-spacing: 7.5px;
  font-size: 70px;
  text-align: center;
  padding-top: 175px;
  width: 60%;
  border-bottom: 5px solid red;
}

#verse-of-day {
  width: 60%;
  color: #d9e2f7;
  margin-top: 75px;
  text-align: center;
  font-size: 28px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
}

#verse-reference {
  width: 60%;
  color: #d9e2f7;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
}

.homepage-main-content {
  width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-titles {
  margin: 25px auto;
  text-align: center;
  font-size: 40px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
  color: #071023;
  border-bottom: 2px solid #222;
  width: 60%;
}

.slideshow-carousel {
  width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
  width: 100%;
  height: 100%;
}

.headline-img {
  width: 100%;
  height: 100%;
}

.carousel-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -22px;
  padding: 8px;
  color: white;
  background: none;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  z-index: 1;
}

/* Position the "next button" to the right */
#prev-btn {
  left: 0;
  border: none;
}

#next-btn {
  right: 0;
  border: none;
}

/* On hover, add a black background color with a little bit see-through */
.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 26px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dots-container {
  display: flex;
  margin: 10px 0;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*Members Page*/
.members-leading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background: linear-gradient(135deg, #222, #3a3a3a);
  height: 250px;
}

.members-h2 {
  font-size: 36px;
  font-family: "Baskervville SC", serif;
  letter-spacing: 1px;
  color: white;
}

.league-members-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-bottom: 50px;
  gap: 30px;
  padding: 0 20px;
  margin-top: 50px;
}

.member-card {
  width: 100%;
  max-width: 400px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #071023;
  padding: 20px;
  font-family: "Baskervville SC", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff;
}

.member-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #f0f0f0;
}

.member-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  transition: transform 0.3s;
}

.member-img:hover {
  transform: scale(1.03);
}

.card-title {
  font-size: 22px;
  padding-bottom: 5px;
  font-weight: 500;
}

.button-members {
  padding: 2px 10px;
  margin-bottom: 10px;
  border: 1px solid #071023;
  width: 75px;
  height: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #1e90ff;
  color: #071023;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 2px;
}

.button-members:hover {
  filter: brightness(110%);
}

.sidebar.active ~ .members-page {
  left: 250px;
  width: calc(100% - 250px);
}

.main-content {
  position: relative;
  background-color: whitesmoke;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.member-modal {
  z-index: 1000;
  display: flex;
  top: 2.5%;
  left: auto;
  overflow: auto;
  position: fixed;
  width: 60%;
  max-width: 800px;
  height: auto;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  padding: 40px 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 20px;
  max-height: 80vh;
  color: #d9e2f7;
  border: 2.5px solid #d9e2f7;
  border-radius: 12px;
}

.modal-content-header {
  font-size: 26px;
  margin-bottom: 20px;
  font-family: "Baskervville SC", serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.modal-content-text {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: center;
  padding: 0 15px;
  font-family: "Baskervville SC", serif;
}

.modal-close-button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-family: "Baskervville SC", serif;
  font-size: 14px;
  background-color: #5c7cfa;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  letter-spacing: 1px;
}

.modal-close-button:hover {
  background-color: #4a68d8; /* Darker shade on hover */
  transform: translateY(-3px);
}

/* League Splash Pages*/
.directory-pages {
  display: flex;
  margin-left: 80px;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

#standings-rankings-card {
  background-image: url(/Images/standings-background-img.png);
}

#standings-rankings-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/Images/standings-background-img.png);
}

.cardPathways {
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #d9e2f7;
  flex-wrap: wrap;
  width: 300px;
  height: 350px;
  background-image: url(https://images.unsplash.com/photo-1723771106486-eb5fceb082a9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-heading {
  font-family: "Baskervville SC", serif;
  font-size: 26px;
  letter-spacing: 1.5px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
}

.cardPathways:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://images.unsplash.com/photo-1723771106486-eb5fceb082a9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.cardPathways:hover .card-heading {
  filter: brightness(150%);
}

.standings-rankings-titles {
  display: flex;
  width: 90%;
  margin-left: 5%;
  text-decoration: underline;
  padding-top: 15px;
}

#standings-title {
  width: 30%;
  text-align: center;
  margin-left: 8.75%;
}

#pr-title {
  width: 30%;
  text-align: center;
  margin-left: 22.5%;
}

.rankings-standings-container {
  display: flex;
  width: 90%;
  margin-left: 5%;
  height: 70vh;
}

.standingsContainer {
  width: 47.5%;
  background-color: #071023;
  margin-top: 7.5px;
  margin-left: 100px;
  border-radius: 10px;
  border: none;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.standingsRow {
  height: 60px;
  border: 1px solid #d9e2f7;
  background-color: #071023;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.standingsRow:hover {
  background-color: lightblue;
  cursor: pointer;
}

#power-rankings-container {
  width: 47.5%;
  margin-top: 7.5px;
  margin-left: 5%;
}
