/*Sidebar Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.league-img img {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  transition: 0.5s ease;
}

.sidebar.active .league-img img {
  margin-left: 80px;
  transition: 0.5s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: #071023;
  transition: all 0.5s ease;
  z-index: 1;
}

.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active {
  width: 250px;
  background-color: #071023;
}

.sidebar #btn {
  position: absolute;
  color: #d9e2f7;
  cursor: pointer;
  top: 0.2rem;
  left: 50%;
  font-size: 1.4rem;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar #btn:hover {
  filter: brightness(175%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color: #d9e2f7;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  white-space: nowrap;
  transition: 0.5s ease;
  margin-left: 15px;
}

.sidebar.active .top .logo {
  opacity: 1;
  font-size: larger;
  margin-left: 1 rem;
  font-family: "Baskervville SC", serif;
  transition: 0.5s ease;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  margin-top: 20px;
  width: 90%;
  line-height: normal;
}

.sidebar ul li a {
  color: #d9e2f7;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Baskervville SC", serif;
}

.sidebar ul li a:hover {
  filter: brightness(175%);
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
  color: #d9e2f7;
  font-size: 25px;
  margin-left: 12.5px;
}

.nav-item {
  white-space: nowrap;
  opacity: 0;
  transition: 0.5s ease;
}

.sidebar.active .nav-item {
  opacity: 1;
  transition: 0.5s ease;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 85px;
  top: 10px;
  padding: 0px 5px;
  opacity: 0;
  line-height: normal;
  font-size: 20px;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
  padding: 0px 5px;
  border-bottom: 2px solid red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-family: "Baskervville SC", serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px 3px;
  border-radius: 5px;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.dropdown {
  display: none;
  flex-direction: column;
  min-width: 50px;
  text-align: center;
  color: #d9e2f7;
  margin-left: 30px;
  list-style: none;
  white-space: nowrap;
  transition: all 1s ease;
}

.sidebar.active #league-dropdown.active {
  display: flex;
  background-color: #071023;
}

.sidebar.active #history-dropdown.active {
  display: flex;
  background-color: #071023;
}

.sidebar.active #resources-dropdown.active {
  display: flex;
  background-color: #071023;
}

.sidebar-dropdown-item {
  margin: auto;
}

.sidebar ul li .dropdown-arrow {
  opacity: 0;
  font-size: 25px;
  color: #d9e2f7;
  cursor: pointer;
  transition: transform 0.5s ease;
  rotate: 270deg;
}

.sidebar.active ul li .dropdown-arrow {
  opacity: 1;
  transition: 0.5s ease;
}

.sidebar.active ul li #league-dropdown-arrow.rotate {
  transform: rotate(90deg);
}

.sidebar.active ul li #history-dropdown-arrow.rotate {
  transform: rotate(90deg);
}

.sidebar.active ul li #resources-dropdown-arrow.rotate {
  transform: rotate(90deg);
}

#league-info-sidebar {
  display: flex;
  align-items: center;
}

/*Homepage Styling*/

.homepage {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  align-items: center;
}

.main-content h1 {
  font-family: "Baskervville SC", serif;
  font-weight: 500;
  color: #d9e2f7;
  letter-spacing: 7.5px;
  font-size: 70px;
  text-align: center;
  border-bottom: 5px solid red;
  width: 80%;
  padding: 0px;
}

.homepage-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(https://www.liberty.edu/news/wp-content/uploads/sites/137/2023/01/20221022_7452TP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#homepage-title {
  font-family: "Baskervville SC", serif;
  font-weight: 500;
  font-style: normal;
  color: #d9e2f7;
  letter-spacing: 7.5px;
  font-size: 70px;
  text-align: center;
  padding-top: 175px;
  width: 60%;
  border-bottom: 5px solid red;
}

#verse-of-day {
  width: 60%;
  color: #d9e2f7;
  margin-top: 75px;
  text-align: center;
  font-size: 28px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
}

#verse-reference {
  width: 60%;
  color: #d9e2f7;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
}

.homepage-main-content {
  width: 80%;
  box-sizing: border-box;
}

.homepage-titles {
  margin: 25px auto;
  text-align: center;
  font-size: 40px;
  font-family: "Baskervville SC", serif;
  font-weight: bold;
  color: #071023;
  border-bottom: 2px solid #222;
  width: 60%;
}

.slideshowCarousel {
  max-width: 1000px;
  position: relative;
  margin: 25px auto;
}

.slide {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
}

.carousel-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -22px;
  padding: 8px;
  color: white;
  background: none;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
#prev-btn {
  left: 0;
  border: none;
}

#next-btn {
  right: 0;
  border: none;
}

/* On hover, add a black background color with a little bit see-through */
.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 26px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*Members Page*/
.members-leading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: #222;
  height: 250px;
  color: white;
}

.members-h1 {
  padding: 5px;
  border-bottom: 1px solid lightblue;
}

.members-p {
  padding-top: 5px;
  font-style: italic;
}

.members-h2 {
  text-align: center;
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
  color: #071023;
}

.league-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.memberCard {
  width: 400px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #071023;
}

.memberImg {
  width: 300px;
  height: 350px;
  margin: 10px auto;
  border: 2px solid #071023;
  border-radius: 10px;
}

.card-title {
  font-size: 22px;
  padding-bottom: 10px;
  text-decoration: underline;
}

.button-members {
  padding: 2px 10px;
  margin-bottom: 10px;
  border: 1px solid #071023;
  width: 75px;
  height: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  background-color: lightblue;
  color: #071023;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 2px;
}

.button-members:hover {
  filter: brightness(110%);
}

.sidebar.active ~ .members-page {
  left: 250px;
  width: calc(100% - 250px);
}

.main-content {
  position: relative;
  background-color: whitesmoke;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
}

.member-modal {
  display: none;
  z-index: 1;
  left: auto;
  top: 5%;
  overflow: auto;
  position: fixed;
  width: 75%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid;
}

.modal-content {
  height: 90%;
  width: 80%;
  display: block;
  overflow: auto;
}

.modal-content-header {
  font-size: 36px;
}

.modal-content-text {
  font-size: 20px;
}

.modal-close-button {
  padding: 2px 10px;
  border: 1px solid navy;
  border-radius: 5px;
  width: 75px;
  height: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  background-color: lightskyblue;
  color: navy;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.modal-close-button:hover {
  filter: brightness(110%);
}

/* League Splash Pages*/
.directory-pages {
  display: flex;
  margin-left: 80px;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

#standings-rankings-card {
  background-image: url(/Images/standings-background-img.png);
}

#standings-rankings-card:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/Images/standings-background-img.png);
}

.cardPathways {
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #d9e2f7;
  flex-wrap: wrap;
  width: 300px;
  height: 350px;
  background-image: url(https://images.unsplash.com/photo-1723771106486-eb5fceb082a9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-heading {
  font-family: "Baskervville SC", serif;
  font-size: 26px;
  letter-spacing: 1.5px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
}

.cardPathways:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://images.unsplash.com/photo-1723771106486-eb5fceb082a9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.cardPathways:hover .card-heading {
  filter: brightness(150%);
}
