.punishments-container {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  background-color: whitesmoke;
  transition: all 0.5s ease;
}

.sidebar.active ~ .punishments-container {
  margin-left: 250px;
}

.punishments-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background: linear-gradient(135deg, #222, #3a3a3a);
  height: 200px;
  width: 100%;
}

.punishments-h1 {
  font-size: 54px;
  font-family: "Baskervville SC", serif;
  letter-spacing: 1px;
  color: #d9e2f7;
  border-bottom: 5px solid red;
  width: fit-content;
}
